.arrows {
  width: 10%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &.animate .arrow {
    animation: slide 0.5s linear 2;
    &.index-1 {
      animation-delay: 0.05s;
    }
    &.index-2 {
      animation-delay: 0.1s;
    }
    &.index-3 {
      animation-delay: 0.15s;
    }
  }
}

.arrow {
  position: absolute;
  top: 68px;
  width: 21px;
  height: 21px;
  border: 7px solid;
  opacity: 0.1;
  border-color: #08d8a6 transparent transparent #08d8a6;
  transform: translateX(-3.5vw) rotate(135deg);
  z-index: -1;

  &.index-1 {
    border-color: #7d4e99 transparent transparent #7d4e99;
    transform: translateX(-1.5vw) rotate(135deg);
  }
  &.index-2 {
    transform: translateX(0.5vw) rotate(135deg);
  }
  &.index-3 {
    transform: translateX(2.5vw) rotate(135deg);
    border-color: #7d4e99 transparent transparent #7d4e99;
  }
}

@keyframes slide {
  0% { opacity: 0.1; }
  50% { opacity: 0.8; }
  100% { opacity: 0.1;}
}
